<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoMVC with UniFlow</title>
    <link rel="stylesheet" href="../../todomvc-app-css/index.css">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="scripts/actions.js"></script>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="elements/todo-app.html">

  </head>
  <body>
    <todo-app></todo-app>

    <footer class="info">
      <p>Double-click to edit a todo</p>
      <!-- Remove the below line -->
      <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
      <!-- Change this out with your name and url -->
      <p>Created by <a href="mailto:militeev@google.com">Andrei Militeev</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
  </body>
</html>
